<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章分类列表</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/layui/css/layui.css" />
    <link href="__PUBLIC__/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>

<body class="gray-bg">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="/index.php?s=/Mrpiadmin/Index/indexpage.html">主页</a></li>
                    <li><a href="{:u('TypesManage/ArticleTypesList')}">文章分类列表</a></li>
                </ol>
            </div>
        </div>  
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12" style="padding:10px 30px;text-align:right;">
              <a class="btn btn-white layui-btn" href="{:U('TypesManage/ArticleTypesAdd')}">添加分类</a>
            </div>
        </div>
          <table class="table table-striped">
            <thead>
                <th>编号</th>
                <th>分类名称</th>
                <th>排序</th>
                <th>相关操作</th>
            </thead>
          <tbody>
              <volist name = "list" id = "vo">
            <tr>
                <td>{$vo.category_id}</td>
                <td>{$vo.category_name}</td>
                <td>{$vo.category_sort}</td>
                <td>
                  <a href = "{:U('TypesManage/ArticleTypesUpdate',array('id' => $vo['category_id']))}" >修改</a>&nbsp;|&nbsp;
                  <a  class = "getAjaxMsg" data-content="删除文章分类" data-url = "{:U('TypesManage/ArticleTypeDelete',array('id' => $vo['category_id']))}">删除</a>
                </td>
            </tr>
              </volist>
        </tbody>
        <tfoot>
          <tr><td style="text-align:center;">
              {$page}
          </td></tr>
        </tfoot>
      </table>

    </div>
    <script src="__PUBLIC__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__PUBLIC__/js/content.min.js?v=1.0.0"></script>
    <script src="__PUBLIC__/layui/layui.js"></script>

    <script>
    //一般直接写在一个js文件中
    layui.use(['layer'], function(){
        var layer = layui.layer;

        $(".getAjaxMsg").click(function(){
            var url=$(this).attr('data-url');
            layer.confirm("您确定要"+$(this).attr('data-content')+"吗？", {
                btn: ['确定','取消'] //按钮
            }, function(){
                $.ajax({
                    url:url,
                    type:'POST',
                    dataType:'text',
                    success:function(data){
                        if(data=='1'){
                            layer.msg('删除成功', {time:1000,icon:6}, function(){
                                window.location.reload(); 
                            });
                        }else{
                            layer.msg('删除失败', {time:1000,icon:5});
                            window.location.reload(); 
                        }
                    }
                })
            }, function(){

            });
        })
    });
    </script>

</body>
</html>
