<!doctype html>
<html> 
<head> 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="Keywords" content="">
<meta name="Description" content="">
<title>我的客户</title>
<link href="__PUBLIC__/web/fonts/iconfont.css" rel="stylesheet" type="text/css">
<link  href="__PUBLIC__/web/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/web/css/style.css" />
<link type="text/css" rel="stylesheet"  href="__PUBLIC__/web/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/web/css/ectouch.css">
</head>
<body>
<div class="Layout_style">
<header id="header">
  <div class="header_l header_return"><a href="javascript:;" onclick="javascript :history.back(-1);" class="iconfont icon-turn-left"></a></div>
  <h1> 我的客户 </h1>
  </header>
<section class="user_style">

    <div class="dis_kh">
        <div class="kh_l"><img src="__PUBLIC__/web/images/dj1.jpg"></div>
        <div class="kh_r"><h3>一级爱心会员</h3><p>现在共有<span>{$cc['count1']}</span>人</p></div>
    </div>
     <div class="dis_kh">
        <div class="kh_l"><img src="__PUBLIC__/web/images/dj2.jpg"></div>
        <div class="kh_r"><h3>二级爱心会员</h3><p>现在共有<span>{$cc['count2']}</span>人</p></div>
    </div>
     <div class="dis_kh">
        <div class="kh_l"><img src="__PUBLIC__/web/images/dj3.jpg"></div>
        <div class="kh_r"><h3>三级爱心会员</h3><p>现在共有<span>{$cc['count3']}</span>人</p></div>
    </div>

</section>
</div>
<include file="Index/footer"/>
</body>
</html>
