<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>银行列表</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="__PUBLIC__/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>

<body class="gray-bg">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="/index.php?s=/Mrpiadmin/Index/indexpage.html">主页</a></li>
                    <li><a href="{:u('LoanManager/index')}">贷款列表</a></li>
                </ol>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-sm-12" style="padding:10px 30px;text-align:right;">
          <a class="btn btn-white layui-btn" href="{:U('LoanManager/Add')}">添加贷款信息</a>
        </div>
      </div>
      <table class="table">
            <thead>
              <th>贷款信息ID</th>
              <th>信息标题</th>
              <th>信息说明</th>
              <th>信息简介</th>
              <th>额度区间</th>
              <th>利率</th>
              <th>相关操作</th>
            </thead>
          <tbody>
            <if condition="(!empty($credits))">
              <volist name="credits" id="credit">
                <tr>
                  <td>{$credit['id']}</td>
                  <td><a href="{$credit['credit_way']}" target="_blank">{$credit['title']}</a></td>
                  <td>{$credit['credit_way_info']}</td>
                  <td>{$credit['short_desc']}</td>
                  <td>{$credit['quota']}(单位：万元)</td>
                  <td>{$credit['rate']}</td>
                  <td>
                    <a href="{:U('LoanManager/edit',['id'=>$credit['id']])}">编辑</a> |
                    <a href="{:U('LoanManager/delete',['id'=>$credit['id']])}" onclick="return confirm('确认删除？')">删除</a></td>
                </tr>
              </volist>
              <else />
              <tr>
                <td colspan="7" style="text-align:center;">暂无信息！</td>
              </tr>
            </if>

          </tbody>
        <tfoot>
          <tr><td colspan="7">{$show}</td></tr>
        </tfoot>
      </table>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__PUBLIC__/js/content.min.js?v=1.0.0"></script>
    <script type="text/javascript">
      $(document).ready(function(){
          $('.hot').click(function(){
             var checked=$(this).attr('checked');
              var url='{:U("BankManager/changeState")}';
              $.post(url, {id:$(this).attr('id')},function(data){
                  data=eval("("+data+")");
                  if(data.code==200){
                    alert('修改成功！');
                  }else{
                    //$(this).attr('checked',checked);
                    alert('修改失败！');
                  }
              });
          });
      });
    </script>
</body>
</html>
