<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="Keywords" content="">
<meta name="Description" content="">
<title>产品列表</title>
<link href="__PUBLIC__/web/fonts/iconfont.css" rel="stylesheet" type="text/css">
<link  href="__PUBLIC__/web/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/web/css/style.css" />
<link type="text/css" rel="stylesheet"  href="__PUBLIC__/web/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/web/css/ectouch.css">
</head>
<body>
<div class="Layout_style">
 <header id="header">
  <div class="header_l header_return"><a href="javascript:;"onClick="javascript :history.back(-1);"  class="iconfont icon-turn-left"></a></div>
  <h1> 产品列表 </h1>
</header>
<div class="p_list user_style">
  <ul class="list list_name">
   <em class="lable_icon"><i class="text-name">预售</i></em> 
    <li class="img "><a href="{：U('Index/ProductCon')}"><img src="__PUBLIC__/web/products/p_19.jpg" /></a></li>
   <li class="p_list_one">
   <a href="{：U('Index/ProductCon')}" >
    <p class="p_title">产品名称</p>
	<p class="Brief ">抗生素的理想替代品，安全、环保，低污染</p>
	<p class="p_Price">￥30.00元<span>40.00元</span></p>
    </a>
	<p class="Operation">
	 <span>销售：12件</span><span class="p_btn_cart"><a href="#">立即购买</a></span>
	</p>
    
   </li> 
  </ul>
  <ul class="list list_name">
   <em class="lable_icon"><i class="text-name">预售</i></em> 
   <li class="img "><a href=""><img src="__PUBLIC__/web/products/p_20.jpg" /></a></li>
   <li class="p_list_one">
   <a href="{：U('Index/ProductCon')}" >
    <p class="p_title">产品名称</p>
	<p class="Brief ">抗生素的理想替代品，安全、环保，低污染</p>
	<p class="p_Price">￥30.00元<span>40.00元</span></p>
    </a>
	<p class="Operation">
	 <span>销售：12件</span><span class="p_btn_cart"><a href="#">立即购买</a></span>
	</p>
   </li>
  </ul>
  <ul class="list list_name">
   <em class="lable_icon hot"><i class="text-name">热销</i></em> 
   <li class="img "><a href=""><img src="__PUBLIC__/web/products/p_21.jpg" /></a></li>
   <li class="p_list_one">
   <a href="{：U('Index/ProductCon')}" >
    <p class="p_title">产品名称</p>
	<p class="Brief ">抗生素的理想替代品，安全、环保，低污染</p>
	<p class="p_Price">￥30.00元<span>40.00元</span></p>
    </a>
	<p class="Operation">
	 <span>销售：12件</span><span class="p_btn_cart"><a href="#">立即购买</a></span>
	</p>
   </li>
  </ul>
  <ul class="list list_name">
    <em class="lable_icon hot"><i class="text-name">热销</i></em> 
   <li class="img "><a href=""><img src="__PUBLIC__/web/products/p_22.jpg" /></a></li>
   <li class="p_list_one">
   <a href="{：U('Index/ProductCon')}" >
    <p class="p_title">产品名称</p>
	<p class="Brief ">抗生素的理想替代品，安全、环保，低污染</p>
	<p class="p_Price">￥30.00元<span>40.00元</span></p>
    </a>
	<p class="Operation">
	 <span>销售：12件</span><span class="p_btn_cart"><a href="#">立即购买</a></span>
	</p>
   </li>
  </ul>
   <ul class="list list_name">
   <em class="lable_icon hot"><i class="text-name">热销</i></em> 
   <li class="img "><a href=""><img src="__PUBLIC__/web/products/p_20.jpg" /></a></li>
   <li class="p_list_one">
   <a href="{：U('Index/ProductCon')}" >
    <p class="p_title">产品名称</p>
	<p class="Brief ">抗生素的理想替代品，安全、环保，低污染</p>
	<p class="p_Price">￥30.00元<span>40.00元</span></p>
    </a>
	<p class="Operation">
	 <span>销售：12件</span><span class="p_btn_cart"><a href="#">立即购买</a></span>
	</p>
   </li>
  </ul>
   <ul class="list list_name">
   <em class="lable_icon hot"><i class="text-name">热销</i></em> 
   <li class="img "><a href=""><img src="__PUBLIC__/web/products/p_21.jpg" /></a></li>
   <li class="p_list_one">
   <a href="{：U('Index/ProductCon')}" >
    <p class="p_title">产品名称</p>
	<p class="Brief ">抗生素的理想替代品，安全、环保，低污染</p>
	<p class="p_Price">￥30.00元<span>40.00元</span></p>
    </a>
	<p class="Operation">
	 <span>销售：12件</span><span class="p_btn_cart"><a href="#">立即购买</a></span>
	</p>
   </li>
  </ul>
   <ul class="list list_name">

   <li class="img "><a href=""><img src="__PUBLIC__/web/products/p_13.jpg" /></a></li>
   <li class="p_list_one">
   <a href="{：U('Index/ProductCon')}" >
    <p class="p_title">产品名称</p>
	<p class="Brief ">抗生素的理想替代品，安全、环保，低污染</p>
	<p class="p_Price">￥30.00元<span>40.00元</span></p>
    </a>
	<p class="Operation">
	 <span>销售：12件</span><span class="p_btn_cart"><a href="#">立即购买</a></span>
	</p>
   </li>
  </ul>
  <!--分页样式-->
  <div class="Paging">
   <a href="#">上一页</a>
   1/2
   <a href="#">下一页</a>
  </div>
</div>
    </div>
<include file="Index/footer"/>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/web/js/style.js"></script>
</body>
</html>
