<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改广告</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="__PUBLIC__/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="__PUBLIC__/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/fakeloader.css" />
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>广告发布</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="get" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">标题</label>
                                <div class="col-sm-10">
                                    <input type="text" name="a_title" value="{$ad_info.a_title}" class="form-control">
                                    <input type="hidden" name="id" value="{$ad_info.id}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">当前链接</label>
                                <div class="col-sm-10">
                                    <input type="text" name="a_url" value="{$ad_info.a_url}" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">当前图片</label>
                                <div class="col-sm-10">
                                    <img id="preview_img" style="max-width:100%" src="{$ad_info.a_image}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">新图片上传</label>
                                <div class="col-sm-10">
                                    <input type="file" multiple="multiple" class="form-control">
                                    <input type="hidden" name="a_image" value="{$ad_info.a_image}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="button">保存内容</button>
                                    <button class="btn btn-white" type="button" onclick="javascript:history.go(-1);">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fakeloader" style="display: none;"></div>
    <script src="__PUBLIC__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__PUBLIC__/js/content.min.js?v=1.0.0"></script>
    <script src="__PUBLIC__/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
    <script type="text/javascript" src="__PUBLIC__/web/js/fakeloader.min.js"></script>
    <script>
        $(function(){
            $(".fakeloader").fakeLoader({timeToHide:100000,bgColor:"#fff",spinner:"spinner2"});
        });
        $('input[type="file"]').prettyFile();
        $(".btn-primary").click(function(){
            $.post("{:U('AdManage/AdEdit')}",$(".form-horizontal").serialize(),function(t){ if(t == 1){alert("修改成功");location.href="{:U('AdManage/AdList')}";}else{alert("修改失败");}})
        });

        $('input[type="file"]').change(function(e){
            data=new FormData();
            for(var i=0;i<e.target.files.length;i++)
            {
                var file = e.target.files.item(i);
                //判断类型
                if(!/image\/\w+/.test(file.type))
                {
                    continue;   //不是图片 就跳出这一次循环
                }
                else{
                    data.append("file[]",file);
                }
            }
            send_File(data,0);
        });

        function send_File(file,t) {
            $.ajax({
                data: data,
                type: "POST",
                url: "{:U('upload/summernote')}",
                cache: false,
                contentType: false,
                processData: false,
                beforeSend:function(){
                    $(".fakeloader").show();
                },
                complete:function(){
                    $(".fakeloader").hide();
                },
                success: function(url) {
                    var a=eval(url);
                    $("input[name='a_image']").val(a[0]);
                    $("#preview_img").attr("src",a[0]);
                }
            });
        }

    </script>
</body>

</html>
