<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="Keywords" content="">
<meta name="Description" content="">
<title>添加银行卡</title>
<link href="fonts/iconfont.css" rel="stylesheet" type="text/css">
<link  href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link type="text/css" rel="stylesheet" href="css/style.css" />
<link type="text/css" rel="stylesheet"  href="css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="css/ectouch.css">
</head>
<body>
<body >
<div class="Layout_style">
 <header id="header">
  <div class="header_l header_return"><a  href="javascript:;"onClick="javascript :history.back(-1);" class="iconfont icon-turn-left"></a></div>
  <h1> 添加银行卡</h1>
</header>
<!--注册样式-->
  <div class="reg_log_com user_style  kf_service">
  <div class="registes">
    <div class="reg_log_ADD">
       <div class="sc_sm"><span>*</span>请填写持卡人本人的银行卡</div>
       <div class="l_u"><label>持卡人：</label><input style=" width:70%" class="input " type="text"  placeholder=""></div>
       <div class="l_u"><label>卡号：</label><input style=" width:70%" class="input " type="text"   placeholder=""></div>
        <div class="l_u"><label>预留手机号：</label><input style=" width:60%" class="input " type="text"   placeholder=""></div>
       <div class="l_u"><input name="" type="text"  class="input" style=" width:70%" placeholder="验证码"/>   <span class="verification"><div class="fl same-code" id="btn_genIcode_sel">获取验证码</div>
       <div class="fl same-code2 hide">
	                   		<span id="txt_sjIdencode_2">60</span>秒后重新获取
	                    </div></span></div>  
       <div class="ty_checkbox"><label> <input name="form-field-checkbox" type="checkbox" class="ace" id="checkboxme"><span class="lbl">我已阅读并同意协议</span></label></div>     
    </div>
      <div class="submit_op"><a href="user_yhk_wc.html" class="c-btn3">下一步</a></div> 
  </div>
</div>
</div>
<div class="di_footer"><a href="home.html"  class="sy ">首页</a><a href="shop_cart.html"  class="car">购物车</a><a href="distribution.html"  class="zx ">分销中心</a><a href="user.html"  class="wd on">我的</a></div>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="js/style.js"></script>
</body>
</html>