<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="Keywords" content="">
<meta name="Description" content="">
<title>提现成功</title>
<link href="fonts/iconfont.css" rel="stylesheet" type="text/css">
<link  href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link type="text/css" rel="stylesheet" href="css/style.css" />
<link type="text/css" rel="stylesheet"  href="css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="css/ectouch.css">
</head>
<body>
<body >
<div class="Layout_style">
 <header id="header">
  <div class="header_l header_return"><a  href="javascript:;"onClick="javascript :history.back(-1);" class="iconfont icon-turn-left"></a></div>
  <h1> 提现成功</h1>
</header>
<!--注册样式-->
  <div class="reg_log_com user_style  kf_service">
   <div class="txcg1">
     <img src="images/moy.jpg">
      <h3>已提现成功</h3>
      <p>预计**分钟将会到账</p>
   </div>
   <div class="txcg2">
      <p>银行卡<span>建设银行  尾号4546</span></p>
      <p>提现金额<span>￥100.00</span></p>
   </div>
  <div class="submit_op"><a href="user.html" class="c-btn3">完成</a></div> 
</div>
<div class="di_footer"><a href="home.html"  class="sy ">首页</a><a href="shop_cart.html"  class="car">购物车</a><a href="distribution.html"  class="zx ">分销中心</a><a href="user.html"  class="wd on">我的</a></div>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="js/style.js"></script>
</body>
</html>