<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品列表</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="__PUBLIC__/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <foreach name="goods_list" item="gl">
            <div class="col-sm-4">
                <div class="contact-box">
                    <a href="#">
                        <div class="col-sm-4">
                            <div class="text-center">
                                <img alt="image" class="img-circle m-t-xs img-responsive" src="{$gl.g_thumb}" width="128" height="128">
                                <div class="m-t-xs font-bold">{$gl.g_title}</div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h3><strong>{$gl.g_title}<if condition="$gl.is_del eq 1">（已被删除）</if></strong></h3>
                            <p>{$gl.g_type}</p>
                            <address>
                            售价：{$gl.g_price}<br>
                            会员价：{$gl.g_vipprice}<br>
                            销量：{$gl.g_salesnum}<br>
                            实际销量：{$gl.truesale|default=0}<br>
                            库存：{$gl.g_stock}<br>
                            一级分销比例：{$gl.g_scalec.scale}<br>
                            二级分销比例：{$gl.g_scaleb.scale}<br>
                            三级分销比例：{$gl.g_scalea.scale}<br>
                            </address>
                        </div>
                        <div class="clearfix">

                            <p class="project-actions" style="float:right;">
                                <a href="{:U('GoodsManage/GoodsEdit',array('id'=>$gl['id']))}" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> 修改 </a>
                            </p>
                            <if condition="$gl.is_del eq 0">
                            <p class="project-actions" style="float:right;">
                                <a href="javascript:GoodsDel({$gl.id})" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> 删除 </a>
                            </p>
                                <else/>
                            <p class="project-actions" style="float:right;">
                                <a href="javascript:GoodsUnDel({$gl.id})" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> 恢复 </a>
                            </p>
                            </if>
                            <if condition="$gl.g_state eq 0">
                            <p class="project-actions" style="float:right;">
                                <a href="javascript:GoodsState({$gl.id})" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> 审核 </a>
                            </p>
                            </if>
                        </div>
                    </a>
                </div>
            </div>
            </foreach>
        </div>
        {$page}
    </div>
    <script src="__PUBLIC__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__PUBLIC__/js/content.min.js?v=1.0.0"></script>
    <script>
        $(document).ready(function(){$(".contact-box").each(function(){animationHover(this,"pulse")})});
        function GoodsDel(id){
            $.post("{:U('GoodsManage/GoodsDel')}",{id:id},function(t){ if(t == 1){alert("删除成功");window.location.reload();}else{alert("该商品已被删除");}});
        }
        function GoodsUnDel(id){
            $.post("{:U('GoodsManage/GoodsUnDel')}",{id:id},function(t){ if(t == 1){alert("恢复成功");window.location.reload();}else{alert("该商品已恢复");}});
        }
        function GoodsState(id){
            $.post("{:U('GoodsManage/GoodsState')}",{id:id},function(t){ if(t == 1){alert("审核成功");window.location.reload();}else{alert("审核失败");}});
        }
    </script>
</body>

</html>
