<!DOCTYPE>
<html style="font-size:100px;">
  <head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link href="__PUBLIC__/web/css/style.css" rel="stylesheet" type="text/css">
  	<title>内部办卡</title>
  </head>
  <body>
    <section class="card-handling-container">
      <div class="card-handling-bg"></div>
      <ul class="card-handling-nav">
      	<li>
      	  <a href="{:U('Wsite/internal_card_handling')}">
      	  	<img src="__PUBLIC__/web/images/uc_wallet_card_card.png">
      	  	<p>信用卡</p>
      	  </a>
      	</li>
      	<li>
      	  <a href="{:U('Wsite/promote_limit')}">
      	  	<img src="__PUBLIC__/web/images/uc_wallet_card_tie.png">
      	  	<p>信用卡提额</p>
      	  </a>
      	</li>
      	<li>
      	  <a href="{:U('Wsite/open_card_schedule')}">
      	  	<img src="__PUBLIC__/web/images/uc_wallet_card_jindu.png">
      	  	<p>申卡进度</p>
      	  </a>
      	</li>
      	<li>
      	  <a href="{:U('Wsite/credit_card_activate')}">
      	  	<img src="__PUBLIC__/web/images/uc_wallet_card_jihuo.png">
      	  	<p>信用卡激活</p>
      	  </a>
      	</li>
      	<li>
      	  <a href="{:U('Wsite/trade_bill')}">
      	  	<img src="__PUBLIC__/web/images/uc_wallet_card_zhangdan.png">
      	  	<p>账单管理</p>
      	  </a>
      	</li>
<!--         <li>
  <a href="#">
    <img src="__PUBLIC__/web/images/uc_wallet_card_add.png">
    <p>添加信用卡</p>
  </a>
</li> -->
      	<li>
      	  <a href="{:U('Wsite/using_card_strategy')}">
      	  	<img src="__PUBLIC__/web/images/uc_wallet_card_gongue.png">
      	  	<p>用卡攻略</p>
      	  </a>
      	</li>
      	<li>
      	  <a href="{:U('Wsite/active_center')}">
      	  	<img src="__PUBLIC__/web/images/uc_wallet_card_active.png">
      	  	<p>热门活动</p>
      	  </a>
      	</li>
      </ul>
      <div class="card-nav">
        <h3>热申好卡Top3</h3>
       <!--  <dl class="card-nav-left left" onclick="location.href='https://creditcardapp.bankcomm.com/applynew/front/apply/track/record.html?trackCode=A051614428260&cardId=2'">
          <dt>
            <p style="font-size:12px;">交通银行YPOWER黑卡</p>
            <p class="card-nav-list-des">高达100%提现额度</p>
          </dt>
          <dd>
            <img src="__PUBLIC__/web/images/card_pic.png">
          </dd>
        </dl> -->
        <dl class="card-nav-left left" onclick="location.href='http://w.url.cn/s/AoNuvkc'">
          <dt>
            <p style="font-size:12px;">兴业银行萌萌金卡</p>
            <p class="card-nav-list-des">激活15天内取现手续费全免</p>
          </dt>
          <dd>
            <img src="__PUBLIC__/web/images/xingye.png">
          </dd>
        </dl>
         <dl class="right" style="border-bottom:1px solid #e5e5e5;" onclick="location.href='https://creditcard.ecitic.com/citiccard/newwap/pages/AppCreditCard/applayCard-process.html?sid=SJRTXWZL&pid=CS0143'">
          <dt>
            <p>中信百度贴吧壕卡</p>
            <p class="card-nav-list-des">网络交易记双倍积分</p>
          </dt>
          <dd>
            <img src="__PUBLIC__/web/images/zhongxin.jpg">
          </dd>
        </dl>
         <dl class="right" onclick="location.href='https://xyk.cebbank.com/cebmms/apply/ps/card-detail.htm?card_id=5548&pro_code=FHTG023556pc98XMRO'">
          <dt>
            <p>光大格瓦拉联名卡</p>
            <p class="card-nav-list-des">安全稳定/一拍即付</p>
          </dt>
          <dd>
            <img src="__PUBLIC__/web/images/guangda.jpg">
          </dd>
        </dl>
      </div>
      <img src="__PUBLIC__/web/images/card_handling_bot_bg.png" class="card_handling_bot_bg">
    </section>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="__PUBLIC__/web/js/common.js"></script>
    <script>
	    reCall();
      //setTimeout(showPage,1);
    </script>
  </body>
</html>
