<!DOCTYPE>
<html style="font-size:100px;">
  <head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link href="__PUBLIC__/web/css/style.css" rel="stylesheet" type="text/css">
  	<title>信用卡进度</title>
  </head>
  <body>
    <section class="open-card-schedule-container">
	  <div class="credit_card_active-bg"></div>
	  <ul class="open-card-schedule-list">
      <volist name = "data" id = "vo">
	  	<li>
	  	  <a href="{$vo.bank_activation}">
	  	  	<img src="{$vo.bank_logo}">
	  	  	<p>{$vo.bank_name}</p>
	  	  </a>
	  	</li>
      </volist>
	  </ul>
    </section>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="__PUBLIC__/web/js/common.js"></script>
    <script>
	    reCall();
      //setTimeout(showPage,1);
    </script>
  </body>
</html>
