<!DOCTYPE>
<html style="font-size:100px;">
  <head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link href="__PUBLIC__/web/css/style.css" rel="stylesheet" type="text/css">
  	<title>贷款大全</title>
  </head>
  <body>
    <section class="fenrun-container">
      <div>
        <ul class="sub-nav" id="creditListNav">
          <li class="left fenrun-nav-active">
            <a href="javascript:void(0);">最热门</a>
          </li>
          <li class="left">
            <a href="javascript:void(0);">放款快</a>
          </li>
           <li class="left">
            <a href="javascript:void(0);">利率低</a>
          </li>
           <li class="left">
            <a href="javascript:void(0);">额度大</a>
          </li>
        </ul>
        <!-- z最热门 -->


        <ul class="sub-nav-container credit-box hot-box">
          <volist name = "hot" id = "vo">
          <li>
            <div class="credit-list-tit">
              <img src="{$vo.image}" class="left">
              <h3 class="left">{$vo.title}</h3>
            </div>
            <div  class="credit-list-cont-box">
              <div  class="credit-list-cont-box-left left">
                <p style="font-size:0.32rem;color:#cf1a07;">  <if condition = "$vo['quota'] == ''">{$vo.sma_quota}万&#8764;{$vo.max_quota}万<else />{$vo.quota}万</if>  </p>
                <p style="color:#666;">额度范围(元)</p>
              </div>
              <div class="credit-list-cont-box-center left">
                <p>{$vo.short_desc}</p> 
                <p>利率:{$vo.rate}%月</p>
                <p>{$vo.view}人申请</p>
              </div>
              <a href="{$vo.credit_way}" class="right application-btn">立即申请</a>
            </div>
          </li>
          </volist>
        </ul>



        <!-- 放款快 -->
        <ul class="sub-nav-container credit-box quick-loan-box">
          <volist name = "fas" id = "vo">
          <li>
            <div class="credit-list-tit">
              <img src="{$vo.image}" class="left">
              <h3 class="left">{$vo.title}</h3>
            </div>
            <div  class="credit-list-cont-box">
              <div  class="credit-list-cont-box-left left">
                <p style="font-size:0.32rem;color:#cf1a07;"> <if condition = "$vo['quota'] == ''">{$vo.sma_quota}万&#8764;{$vo.max_quota}万<else />{$vo.quota}万</if> </p>
                <p style="color:#666;">额度范围(元)</p>
              </div>
              <div class="credit-list-cont-box-center left">
                <p>{$vo.short_desc}</p>
                <p>利率:{$vo.rate}%月</p>
                <p>{$vo.view}人申请</p>
              </div>
              <a href="{$vo.credit_way}" class="right application-btn">立即申请</a>
            </div>
          </li>
          </volist>
        </ul>



        <!-- 利率低 -->
        <ul class="sub-nav-container credit-box ease-of-money-box">
          <volist name = "low" id = "vo">
          <li>
            <div class="credit-list-tit">
              <img src="{$vo.image}" class="left">
              <h3 class="left">{$vo.title}</h3>
            </div>
            <div  class="credit-list-cont-box">
              <div  class="credit-list-cont-box-left left">
                <p style="font-size:0.32rem;color:#cf1a07;"> <if condition = "$vo['quota'] == ''">{$vo.sma_quota}万&#8764;{$vo.max_quota}万<else />{$vo.quota}万</if> </p>
                <p style="color:#666;">额度范围(元)</p>
              </div>
              <div class="credit-list-cont-box-center left">
                <p>{$vo.short_desc}</p>
                <p>利率:{$vo.rate}%月</p>
                <p>{$vo.view}人申请</p>
              </div>
              <a href="{$vo.credit_way}" class="right application-btn">立即申请</a>
            </div>
          </li>
          </volist>
        </ul>



        <!-- 额度大 -->
        <ul class="sub-nav-container credit-box large-amount-box">
          <volist name = "big" id = "vo">
          <li>
            <div class="credit-list-tit">
              <img src="{$vo.image}" class="left">
              <h3 class="left">{$vo.title}</h3>
            </div>
            <div  class="credit-list-cont-box">
              <div  class="credit-list-cont-box-left left">
                <p style="font-size:0.32rem;color:#cf1a07;"> <if condition = "$vo['quota'] == ''">{$vo.sma_quota}万&#8764;{$vo.max_quota}万<else />{$vo.quota}万</if> </p>
                <p style="color:#666;">额度范围(元)</p>
              </div>
              <div class="credit-list-cont-box-center left">
                <p>{$vo.short_desc}</p>
                <p>利率:{$vo.rate}%月</p>
                <p>{$vo.view}人申请</p>
              </div>
              <a href="{$vo.credit_way}" class="right application-btn">立即申请</a>
            </div>
          </li>
          </volist>
        </ul>



      </div>
    </section>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="__PUBLIC__/web/js/common.js"></script>
    <script>
	    reCall();
      //setTimeout(showPage,1);
    </script>
  </body>
</html>
