<!DOCTYPE>
<html style="font-size:100px;background-color:#fff;">
  <head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link href="__PUBLIC__/web/css/style.css" rel="stylesheet" type="text/css">
  	<title>交易比率</title>
  </head>
  <body style="background-color:#fff;">
    <section class="exchange-container">
    <!-- 交易比率start-->
      <h3>总交易</h3>
      <p class="total-money"><span>0.00</span><span style="font-size:0.26rem;color:#333;margin-left:0.1rem;">元</span></p>
	  <img src="__PUBLIC__/web/images/logo_ratio.png">
	  <ul>
	  	<li>
	  	  <span>微信支付</span>
	  	  <span>0.00元</span>
	  	  <span style="text-align:right;">0笔</span>
	  	</li>
	  	<li>
	  	  <span>支付宝支付</span>
	  	  <span>0.00元</span>
	  	  <span style="text-align:right;">0笔</span>
	  	</li>
	  	<li>
	  	  <span>微信支付</span>
	  	  <span>0.00元</span>
	  	  <span style="text-align:right;">0笔</span>
	  	</li>
	  </ul>
	  <a href="javascript:void(0)" class="total-btn total-active" style="margin-left:0.8rem;">日总交易</a>
	  <a href="javascript:void(0)" class="total-btn">月总交易</a>
    <!-- 交易比率end -->
    </section>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="__PUBLIC__/web/js/common.js"></script>
    <script>
	  reCall();
      //setTimeout(showPage,1);
    </script>
  </body>
</html>
