<!DOCTYPE>
<html style="font-size:100px;">
  <head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link href="__PUBLIC__/web/css/style.css" rel="stylesheet" type="text/css">
  	<title>累计分佣</title>
  </head>
  <body>
    <section class="fenrun-container">
      <div class="fenrun-top">
        <p>可提现金额(元)</p>
        <p class="withdraw-cash-money">{$total_amount|number_format=2}</p>
        <!-- <a href="javascript:void(0)" class="withdraw-cash-btn">提现</a> -->
      </div>
      <div class="fenrun-tit">
        <img src="__PUBLIC__/web/images/ic_uc_fenrun.png">
        <span>累计分佣:</span>
        <span>{$total_commissions|number_format=2}</span>
      </div>
      <div>
        <ul class="sub-nav" id="fenrunNav">
          <li class="left fenrun-nav-active">
            <a href="javascript:void(0);">分佣</a>
          </li>
          <!-- <li class="left">
            <a href="javascript:void(0);">鼓励金</a>
          </li> -->
        </ul>
        <!-- 分润佣金 -->
        <ul class="sub-nav-container fenrun-box">
          <volist name="commissions" id="commission">
            <li>
              <p class="left">下级佣金</p>
              <p class='right'>{$commission['commission_amount']|number_format=2}</p>
              <p class="date-style clear">{$commission['create_at']}</p>
            </li>
          </volist>
        </ul>

        <!-- 鼓励金 -->
        <!-- <ul class="sub-nav-container guli-box">
          <li>
            <p class="left">鼓励金</p>
            <p class='right'>200元</p>
            <p class="date-style clear">2017-07-13 10:00</p>
          </li>
          <li>
            <p class="left">鼓励金</p>
            <p class='right'>200元</p>
            <p class="date-style clear">2017-07-13 10:00</p>
          </li>
        </ul> -->
      </div>
    </section>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="__PUBLIC__/web/js/common.js"></script>
    <script>
	    reCall();
      window.addEventListener('resize',reCall,false);
    </script>
  </body>
</html>
