<!DOCTYPE>
<html style="font-size:100px;">
  <head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link href="__PUBLIC__/web/css/style.css" rel="stylesheet" type="text/css">
  	<title>帮助</title>
  </head>
  <body>
    <section class="help-container">
      <ul class="help_list">
      	<li>
      	  <img src="__PUBLIC__/web/images/help_check.png" class="left">
      	  <a href="#" class="left">返佣说明</a>
      	</li>
      	<li>
      	  <img src="__PUBLIC__/web/images/help_check.png" class="left">
      	  <a href="#" class="left">直接返佣</a>
      	</li>
      	<li>
      	  <img src="__PUBLIC__/web/images/help_check.png" class="left">
      	  <a href="#" class="left">间接返佣</a>
      	</li>
      	<li>
      	  <img src="__PUBLIC__/web/images/help_check.png" class="left">
      	  <a href="#" class="left">关于提现</a>
      	</li>
      	<li>
      	  <img src="__PUBLIC__/web/images/help_check.png" class="left">
      	  <a href="#" class="left">提现记录</a>
      	</li>
      </ul>
    </section>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="__PUBLIC__/web/js/common.js"></script>
    <script>
	    reCall();
      //setTimeout(showPage,1);
    </script>
  </body>
</html>
