<!DOCTYPE>
<html style="font-size:100px;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
     <link href="__PUBLIC__/web/css/style.css" rel="stylesheet" type="text/css">
    <title>支付成功</title>
  </head>
  <body style="background-color:#fff;">
    <section class="payment-success">
      <div style="padding-top:1.76rem;width:55%;margin:0 auto;">
        <img src="__PUBLIC__/web/images/icon1.png" class="left" style="width:1.28rem;height:1.38rem;margin-right:0.3rem;">
        <p style="font-size:0.5rem;font-weight:bold;color:#009fff;margin-top:0.1rem;" >支付成功</p>
        <p style="font-size:0.4rem;color:#999;margin-top:0.2rem">等待系统确认</p>
      </div>
    </section>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="__PUBLIC__/web/js/common.js"></script>
    <script>
      reCall();
      window.addEventListener('resize',reCall,false);
    </script>
  </body>
</html>

