<!DOCTYPE>
<html style="font-size:100px;">
  <head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link href="__PUBLIC__/web/css/style.css" rel="stylesheet" type="text/css">
  	<title>会员返佣</title>
  </head>
  <body>
    <section class="rake-back-container">
      <div class="rake-back-top">
        <dl>
          <dt>直接返佣(元)</dt>
          <dd>0.00</dd>
        </dl>
        <dl>
          <dt>间接返佣(元)</dt>
          <dd>0.00</dd>
        </dl>
      </div>
      <div class="withdraw-cash-btn-box">
        <a href="javascript:void(0)" class="withdraw-cash-btn">提现</a>
      </div>
      <div class="fenrun-tit" style="padding:0 0.3rem;">
        <span>返佣明细</span>
      </div>
      <div>
        <ul class="sub-nav" id="fanyongNav">
          <li class="left fenrun-nav-active">
            <a href="javascript:void(0);">直接返佣</a>
          </li>
          <li class="left">
            <a href="javascript:void(0);">间接返佣</a>
          </li>
        </ul>
        <!-- 分润佣金 -->
        <ul class="sub-nav-container zhijie-box">
          <li>
            <p class="left">直接返佣</p>
            <p class='right'>200元</p>
            <p class="date-style clear">2017-07-13 10:00</p>
          </li>
          <li>
            <p class="left">直接返佣</p>
            <p class='right'>200元</p>
            <p class="date-style clear">2017-07-13 10:00</p>
          </li>
        </ul>

        <!-- 鼓励金 -->
        <ul class="sub-nav-container jianjie-box">
          <li>
            <p class="left">间接返佣</p>
            <p class='right'>200元</p>
            <p class="date-style clear">2017-07-13 10:00</p>
          </li>
          <li>
            <p class="left">间接返佣</p>
            <p class='right'>200元</p>
            <p class="date-style clear">2017-07-13 10:00</p>
          </li>
        </ul>
      </div>
    </section>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="__PUBLIC__/web/js/common.js"></script>
    <script>
	    reCall();
      //setTimeout(showPage,1);
    </script>
  </body>
</html>
