<!DOCTYPE>
<html style="font-size:100px;">
  <head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="__PUBLIC__/web/css/photoswipe.css">
    <link rel="stylesheet" href="__PUBLIC__/web/css/default-skin.css"> 
    <link href="__PUBLIC__/web/css/style.css" rel="stylesheet" type="text/css">
  	<title>素材列表</title>
  </head>
  <body>
    <section class="share-sucai-container">
      <ul class="share-sucai-list">
      <foreach name="material_result" item="material">
        <li class="clear">
          <img src="__PUBLIC__/web/images/logo_ratio.png" alt="" class="share-sucai-logo left">
          <div class="share-sucai-list-right right">
            <h3 class="left">{:C('SYSTEM_TITLE')}</h3>
            <p class="right">{$material['create_time']}</p>
            <div class="clear share-sucai-dest hid-text article-content">{$material['content']}</div>
            <a href="javascript:void(0)" class="share-sucai-show-more">显示更多</a>
            <a href="javascript:void(0)" class="share-sucai-show-hide">收起</a>
            <!-- <ul class="share-sucai-pic-list">
            <foreach name="material['img']" item="img">
              <li>
                <img src="{:$img['img']}">
              </li>
            </foreach>
            </ul> -->
            <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
            <foreach name="material['img']" item="img">
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="imglist">
                <a href="{:$img['img']}" itemprop="contentUrl" data-size="1024x1024">
                  <img src="{:$img['img']}" itemprop="thumbnail" alt="Image description" />
                </a>
                <figcaption itemprop="caption description"></figcaption>                                
              </figure>
            </foreach>
            </div>
            <!-- Root element of PhotoSwipe. Must have class pswp. -->
            <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
              <!-- Background of PhotoSwipe. 
                   It's a separate element, as animating opacity is faster than rgba(). -->
              <div class="pswp__bg"></div>
              <!-- Slides wrapper with overflow:hidden. -->
              <div class="pswp__scroll-wrap">
                <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
                <!-- don't modify these 3 pswp__item elements, data is added later on. -->
                <div class="pswp__container">
                  <div class="pswp__item"></div>
                  <div class="pswp__item"></div>
                  <div class="pswp__item"></div>
                </div>
                <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                <div class="pswp__ui pswp__ui--hidden">
                  <div class="pswp__top-bar">
                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                  <!--   <button class="pswp__button pswp__button--share" title="Share"></button> -->
                  <!--   <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> -->

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                      <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                          <div class="pswp__preloader__donut"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                      <div class="pswp__share-tooltip"></div> 
                  </div>
                  <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                  <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                  <div class="pswp__caption">
                      <div class="pswp__caption__center"></div>
                  </div>
                </div>
              </div>
          </div>
            <a  class="copy-btn images-save" download="test">
              <img src="__PUBLIC__/web/images/ic_popularize_materia_pic.png">
              保存图片
            </a>
              <a class="copy-btn article-save">
              <img src="__PUBLIC__/web/images/ic_popularize_materia_text.png">
              复制文章
            </a>
            <span style="font-size:0.26rem;color:#666;" class="right">{$material['download_num']}</span>
          </div>
        </li>
      </foreach>
      </ul>
    </section>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
     <script src="__PUBLIC__/web/js/photoswipe.min.js"></script> 
    <script src="__PUBLIC__/web/js/photoswipe-ui-default.min.js"></script> 
    <script src="__PUBLIC__/web/js/common.js"></script>
    <script>
	    reCall();
      $('.images-save').click(function(){
        var imgarr=new Array();
        $(".my-gallery .imglist").each(function(k,v){
            var img=$(this).find('img').attr('src');
            if(img.substring(0,7)=="Uploads" || img.substring(0,7)=="/Upload"){
              var http = window.location.protocol;
              var host = window.location.host;
              realimg=http+"//"+host+"/"+img;
            }else{
              realimg=img
            }
            // alert(realimg)
            imgarr[k]=realimg;
        })
        window.webkit.messageHandlers.savePicture.postMessage(imgarr);
      })
      $('.article-save').click(function(){
        var content=$('.article-content').text();
        window.webkit.messageHandlers.copyArticle.postMessage(content);
      })
      $(document).ready(function(){
      
          // $('.images-save').click(function(){
      
          //     var images=$('.my-gallery img').attr('src');
      
          //     console.log(images);
      
      
          // });
          function Copy(str){
            var save = function(e){
                e.clipboardData.setData('text/plain', str);
                e.preventDefault();
                console.log(e.clipboardData.setData('text/plain', str));
            }
            document.addEventListener('copy', save);
            console.log(save);
            document.execCommand('copy');
            document.removeEventListener('copy',save);
           
          }
          $('.article-save').click(function(){
            var article=$('.article-content').html();
            // window.AndroidMessage.article('images');
            Copy($(this).parent('div').find('.article-content').text());
          });
          //点击查看大图
   var initPhotoSwipeFromDOM = function(gallerySelector) {
    // parse slide data (url, title, size ...) from DOM elements 
    // (children of gallerySelector)
    var parseThumbnailElements = function(el) {
        var thumbElements = el.childNodes,
            numNodes = thumbElements.length,
            items = [],
            figureEl,
            linkEl,
            size,
            item;

        for(var i = 0; i < numNodes; i++) {

            figureEl = thumbElements[i]; // <figure> element

            // include only element nodes 
            if(figureEl.nodeType !== 1) {
                continue;
            }

            linkEl = figureEl.children[0]; // <a> element

            size = linkEl.getAttribute('data-size').split('x');

            // create slide object
            item = {
                src: linkEl.getAttribute('href'),
                w: parseInt(size[0], 10),
                h: parseInt(size[1], 10)
            };



            if(figureEl.children.length > 1) {
                // <figcaption> content
                item.title = figureEl.children[1].innerHTML; 
            }

            if(linkEl.children.length > 0) {
                // <img> thumbnail element, retrieving thumbnail url
                item.msrc = linkEl.children[0].getAttribute('src');
            } 

            item.el = figureEl; // save link to element for getThumbBoundsFn
            items.push(item);
        }

        return items;
    };

    // find nearest parent element
    var closest = function closest(el, fn) {
        return el && ( fn(el) ? el : closest(el.parentNode, fn) );
    };

    // triggers when user clicks on thumbnail
    var onThumbnailsClick = function(e) {
        e = e || window.event;
        e.preventDefault ? e.preventDefault() : e.returnValue = false;

        var eTarget = e.target || e.srcElement;

        // find root element of slide
        var clickedListItem = closest(eTarget, function(el) {
            return (el.tagName && el.tagName.toUpperCase() === 'FIGURE');
        });

        if(!clickedListItem) {
            return;
        }

        // find index of clicked item by looping through all child nodes
        // alternatively, you may define index via data- attribute
        var clickedGallery = clickedListItem.parentNode,
            childNodes = clickedListItem.parentNode.childNodes,
            numChildNodes = childNodes.length,
            nodeIndex = 0,
            index;

        for (var i = 0; i < numChildNodes; i++) {
            if(childNodes[i].nodeType !== 1) { 
                continue; 
            }

            if(childNodes[i] === clickedListItem) {
                index = nodeIndex;
                break;
            }
            nodeIndex++;
        }



        if(index >= 0) {
            // open PhotoSwipe if valid index found
            openPhotoSwipe( index, clickedGallery );
        }
        return false;
    };

    // parse picture index and gallery index from URL (#&pid=1&gid=2)
    var photoswipeParseHash = function() {
        var hash = window.location.hash.substring(1),
        params = {};

        if(hash.length < 5) {
            return params;
        }

        var vars = hash.split('&');
        for (var i = 0; i < vars.length; i++) {
            if(!vars[i]) {
                continue;
            }
            var pair = vars[i].split('=');  
            if(pair.length < 2) {
                continue;
            }           
            params[pair[0]] = pair[1];
        }

        if(params.gid) {
            params.gid = parseInt(params.gid, 10);
        }

        return params;
    };

    var openPhotoSwipe = function(index, galleryElement, disableAnimation, fromURL) {
        var pswpElement = document.querySelectorAll('.pswp')[0],
            gallery,
            options,
            items;

        items = parseThumbnailElements(galleryElement);

        // define options (if needed)
        options = {

            // define gallery index (for URL)
            galleryUID: galleryElement.getAttribute('data-pswp-uid'),

            getThumbBoundsFn: function(index) {
                // See Options -> getThumbBoundsFn section of documentation for more info
                var thumbnail = items[index].el.getElementsByTagName('img')[0], // find thumbnail
                    pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
                    rect = thumbnail.getBoundingClientRect(); 

                return {x:rect.left, y:rect.top + pageYScroll, w:rect.width};
            }

        };

        // PhotoSwipe opened from URL
        if(fromURL) {
            if(options.galleryPIDs) {
                // parse real index when custom PIDs are used 
                // http://photoswipe.com/documentation/faq.html#custom-pid-in-url
                for(var j = 0; j < items.length; j++) {
                    if(items[j].pid == index) {
                        options.index = j;
                        break;
                    }
                }
            } else {
                // in URL indexes start from 1
                options.index = parseInt(index, 10) - 1;
            }
        } else {
            options.index = parseInt(index, 10);
        }

        // exit if index not found
        if( isNaN(options.index) ) {
            return;
        }

        if(disableAnimation) {
            options.showAnimationDuration = 0;
        }

        // Pass data to PhotoSwipe and initialize it
        gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
        gallery.init();
    };

    // loop through all gallery elements and bind events
    var galleryElements = document.querySelectorAll( gallerySelector );

    for(var i = 0, l = galleryElements.length; i < l; i++) {
        galleryElements[i].setAttribute('data-pswp-uid', i+1);
        galleryElements[i].onclick = onThumbnailsClick;
    }

    // Parse URL and open gallery if it contains #&pid=3&gid=1
    var hashData = photoswipeParseHash();
    if(hashData.pid && hashData.gid) {
        openPhotoSwipe( hashData.pid ,  galleryElements[ hashData.gid - 1 ], true, true );
    }
};
    // execute above function
    initPhotoSwipeFromDOM('.my-gallery');
      });

      //setTimeout(showPage,1);
    </script>
  </body>
</html>
