<!DOCTYPE>
<html style="font-size:100px;">
  <head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link href="__PUBLIC__/web/css/style.css" rel="stylesheet" type="text/css">
  	<title>交易账单</title>
  </head>
  <body>
    <section class="trade-bill-container">
	  <ul class="trade-bill-list">
      <if condition="($data)">
        <volist name = "data" id = "vo">
        <li class="clear">
          <div class="trade-bill-list-top">
          <p class="left" style="width:65%"><span class="trade-bill-tit">快捷支付</span><span class="trade-bill-method">卡尾号{$vo.qp_paycard}刷卡</span></p>
          <p class="trade-bill-money right">{$vo.qp_price}</p>
          </div>
          <div class="clear">
            <p class="left date-style">{$vo.qp_create_time|date="Y-m-d H:i:s",###}</p>
            <p class="trade-bill-ispayment right"><if condition = "$vo.qp_paystatus eq '00'">支付成功<else/>支付失败</if></p>
          </div>
        </li>
      </volist>
        <else />
        <div style="text-align:center;background:#f5f5f5;padding-top:100px;"><img src="__PUBLIC__/img/no_record.png" alt="暂无数据！" style="width:50%;"></div>
      </if>

	  </ul>
    </section>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="__PUBLIC__/web/js/common.js"></script>
    <script>
	  reCall();
      //setTimeout(showPage,1);
    </script>
  </body>
</html>
