<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>主页 - {:C('SYSTEM_TITLE')}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link href="__PUBLIC__/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span><img alt="image" class="img-circle" src="__PUBLIC__/img/profile_small.jpg" /></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                 <span class="block m-t-xs"><strong class="font-bold">{$t_user}</strong></span>
                                <span class="text-muted text-xs block">{$t_name}<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li class="divider"></li>
                                <li><a href="{:U('Index/logout')}">安全退出</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">YT</div>
                    </li>
                    <li>
                        <a class="J_menuItem" href="{:U('Index/indexpage')}"><i class="fa fa-home"></i> <span class="nav-label">主页</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">用户管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <if condition="$Think.session.login_type eq '1'">
                            <li><a class="J_menuItem" href="{:U('UserManage/UserAdd')}">添加用户</a></li>
                            </if>
                            <li><a class="J_menuItem" href="{:U('UserManage/UserList')}">用户列表</a></li>
                            <if condition="$Think.session.login_type eq '1'">
                            <li><a class="J_menuItem" href="{:U('UserManage/Cashlist')}">提现管理</a></li>
                            <li><a class="J_menuItem" href="{:U('UserManage/CertManage')}">实名认证管理</a></li>
                            <li><a class="J_menuItem" href="{:U('UserManage/CertLook')}">实名认证查询</a></li>
                            </if>

                            <!-- <li><a class="J_menuItem" href="{:U('UserManage/UserList10')}">购买代理用户</a>
                            </li> -->
                            <!-- <li><a class="J_menuItem" href="{:U('UserManage/UserCash')}">用户提现</a>
                            </li> -->
                            <!-- <li><a class="J_menuItem" href="{:U('UserManage/UserTeam')}">团队销售额排名</a>
                            </li> -->
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">订单管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:U('Orderfy/index')}">订单列表</a>
                            </li>
                            <!-- <li><a class="J_menuItem" href="{:U('UserManage/UserList10')}">购买代理用户</a>
                            </li> -->
                            <!-- <li><a class="J_menuItem" href="{:U('UserManage/UserCash')}">用户提现</a>
                            </li> -->
                            <!-- <li><a class="J_menuItem" href="{:U('UserManage/UserTeam')}">团队销售额排名</a>
                            </li> -->
                        </ul>
                    </li>
                    <if condition="$Think.session.login_type eq '1'">
                    <li>
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">文章管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:U('Article/index')}">文章列表</a></li>
                            <li><a class="J_menuItem" href="{:U('Article/add')}">添加文章</a></li>
                            <!-- <li><a class="J_menuItem" href="{:U('UserManage/UserList10')}">购买代理用户</a>
                            </li> -->
                            <!-- <li><a class="J_menuItem" href="{:U('UserManage/UserCash')}">用户提现</a>
                            </li> -->
                            <!-- <li><a class="J_menuItem" href="{:U('UserManage/UserTeam')}">团队销售额排名</a>
                            </li> -->
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">快捷支付管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:U('QuickPay/cardList')}">银行卡列表</a></li>
                            <li><a class="J_menuItem" href="{:U('QuickPay/orderList')}">快捷支付订单列表</a></li>
                            <!-- <li><a class="J_menuItem" href="{:U('QuickPay/subProfit')}">分润列表</a></li> -->
                            <li><a class="J_menuItem" href="{:U('QuickPay/channelManage')}">费率管理</a></li>
                             <li><a class="J_menuItem" href="{:U('QuickPay/SourceManage')}">渠道来源管理</a></li>
                            <!-- <li><a class="J_menuItem" href="{:U('UserManage/UserCash')}">用户提现</a>
                            </li> -->
                            <!-- <li><a class="J_menuItem" href="{:U('UserManage/UserTeam')}">团队销售额排名</a>
                            </li> -->
                        </ul>
                    </li> 
                    
                      <li>
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">分类管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
   <!--                          <li><a class="J_menuItem" href="{:U('TypesManage/TypesAdd')}">添加分类</a> -->
                            <!-- </li> -->
                            <li><a class="J_menuItem" href="{:U('TypesManage/MemberTypesList')}">会员分类列表</a></li>
                            <li><a class="J_menuItem" href="{:U('TypesManage/ArticleTypesList')}">文章分类列表</a></li>
                        </ul>
                    </li>
                     </li> 
                    
                      <li>
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">运营位管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:U('OperationManage/ShareManage')}">分享页管理</a></li>
                            <!-- <li><a class="J_menuItem" href="{:U('TypesManage/ArticleTypesList')}">文章分类列表</a></li> -->
                        </ul>
                    </li>
                    <!-- <li>
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">导航管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:U('MenuManage/MenuAdd')}">添加导航</a>
                            </li>
                            <li><a class="J_menuItem" href="{:U('MenuManage/MenuList')}">导航列表</a>
							<foreach name="not_menu" item="nml">
                            <li><a class="J_menuItem" href="{:U('MenuManage/MenuEdit',array('id'=>$nml['id']))}">{$nml.m_name}</a>
                            </li>
							</foreach>

                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">分类管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:U('TypesManage/TypesAdd')}">添加分类</a>
                            </li>
                            <li><a class="J_menuItem" href="{:U('TypesManage/TypesList')}">分类列表</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">商品管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:U('GoodsManage/GoodsAdd')}">添加商品</a>
                            </li>
                            <li><a class="J_menuItem" href="{:U('GoodsManage/GoodsList')}">商品列表</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">订单管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:U('OrderManage/OrderList')}">订单列表</a></li>
                            <li><a class="J_menuItem" href="{:U('OrderManage/OrderList10')}">五天未确定订单</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">快递管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:U('ExpressManage/ExpressAdd')}">添加快递</a>
                            </li>
                            <li><a class="J_menuItem" href="{:U('ExpressManage/ExpressList')}">快递列表</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">广告管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:U('AdManage/AdAdd')}">添加广告</a>
                            </li>
                            <li><a class="J_menuItem" href="{:U('AdManage/AdList')}">广告列表</a>
                            </li>
                        </ul>
                    </li> -->
                    <li>
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">素材管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:U('material/material_list')}">素材列表</a></li>
                            <li><a class="J_menuItem" href="{:U('material/add_material')}">增加素材</a></li>
						</ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">活动配置</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:U('BankManager/index')}">银行管理</a></li>
                            <li><a class="J_menuItem" href="{:U('LoanManager/index')}">贷款管理</a></li>
                            <li><a class="J_menuItem" href="{:U('activity/index')}">活动列表</a></li>
                            <li><a class="J_menuItem" href="{:U('activity/add_activity')}">活动添加</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">公告管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:U('notice/notice_list')}">公告列表</a></li>
                            <li><a class="J_menuItem" href="{:U('notice/add_notice')}">增加公告</a></li>
						        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">系统设置</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <!-- <li><a class="J_menuItem" href="{:U('SysManage/index')}">基本属性</a></li> -->
                            <li><a class="J_menuItem" href="{:U('Sysfy/modifyLoginPasswd')}">修改登录密码</a></li>
                            <li><a class="J_menuItem" href="{:U('Sysfy/setCustomService')}">设置客服</a></li>
                            <li><a class="J_menuItem" href="{:U('Sysfy/index')}">属性设置</a></li>
                            <li><a class="J_menuItem" href="{:U('Sysfy/aboutUs')}">关于我们</a></li>
						            </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">意见建议</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:U('UserSuggestion/getSuggestList')}">用户反馈</a></li>
                            <li><a class="J_menuItem" href="{:U('UserSuggestion/getQuestionList')}">常见问题</a></li>
						</ul>
                    </li>
                    <else/>
                    <li>
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">系统设置</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:U('Sysfy/modifyLoginPasswd',array('identify'=>1))}">修改登录密码</a></li>
                        </ul>
                    </li>
                    </if>
             	</ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <!--<form role="search" class="navbar-form-custom" method="post" action="">
                            <div class="form-group">
                                <input type="text" placeholder="请输入您需要查找的内容 …" class="form-control" name="top-search" id="top-search">
                            </div>
                        </form>-->
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <!--<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
                            </a>-->
                            <!--<ul class="dropdown-menu dropdown-messages">
                                <li class="m-t-xs">
                                    <div class="dropdown-messages-box">
                                        <a href="#" class="pull-left">
                                            <img alt="image" class="img-circle" src="__PUBLIC__/img/a7.jpg">
                                        </a>
                                        <div class="media-body">
                                            <small class="pull-right">46小时前</small>
                                            <strong>小四</strong> 这个在日本投降书上签字的军官，建国后一定是个不小的干部吧？
                                            <br>
                                            <small class="text-muted">3天前 2014.11.8</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="#" class="pull-left">
                                            <img alt="image" class="img-circle" src="__PUBLIC__/img/a4.jpg">
                                        </a>
                                        <div class="media-body ">
                                            <small class="pull-right text-navy">25小时前</small>
                                            <strong>国民岳父</strong> 如何看待“男子不满自己爱犬被称为狗，刺伤路人”？——这人比犬还凶
                                            <br>
                                            <small class="text-muted">昨天</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a class="J_menuItem" href="#">
                                            <i class="fa fa-envelope"></i> <strong> 查看所有消息</strong>
                                        </a>
                                    </div>
                                </li>
                            </ul>-->
                        </li>
                        <li class="dropdown">
                            <!--<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-bell"></i> <span class="label label-primary">8</span>
                            </a>-->
                            <!--<ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="#">
                                        <div>
                                            <i class="fa fa-envelope fa-fw"></i> 您有16条未读消息
                                            <span class="pull-right text-muted small">4分钟前</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <i class="fa fa-qq fa-fw"></i> 3条新回复
                                            <span class="pull-right text-muted small">12分钟钱</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a class="J_menuItem" href="#">
                                            <strong>查看所有 </strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>-->
                        </li>
                        <li class="hidden-xs">
                            <!--<a href="#" class="J_menuItem" data-index="0"><i class="fa fa-tasks"></i>帮助</a>-->
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row content-tabs">
                <button class="roll-nav roll-left J_tabLeft">
                <a href = "#" onClick="javascript :history.back(-1);"><i class="fa fa-backward"></i></a>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active J_menuTab" data-id="index_v1.html">首页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive"><a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>
                <a href="{:U('Index/logout')}" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
            </div>
            <div class="row J_mainContent" id="content-main">
                <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="{:U('Index/indexpage')}" frameborder="0" data-id="index_v1.html" seamless></iframe>
            </div>
            <div class="footer">
                <div class="pull-right">&copy; 2014-2015 <a href="" target="_blank">HeBeiYuanTuo</a>
                </div>
            </div>
        </div>
        <!--右侧部分结束-->
    </div>
    <audio id="bgMusic" data="{:U('PlanTask/getNewWithdrawals')}">
        <source = src="/Uploads/Uploads/1.mp3" type="audio/mp3">
        <source = src="/Uploads/Uploads/1.mp3" type="audio/ogg">
    </audio>
    <script src="__PUBLIC__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__PUBLIC__/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__PUBLIC__/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__PUBLIC__/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/js/hplus.min.js?v=4.1.0"></script>
    <script type="text/javascript" src="__PUBLIC__/js/contabs.min.js"></script>
    <script src="__PUBLIC__/js/plugins/pace/pace.min.js"></script>
    <script>
    $(function(){

        // clearInterval(int);
        // var int=setInterval("getNewWithdrawals()",15*1000);
        function getNewWithdrawals(){
            var url=$('#bgMusic').attr('data');
            $.ajax({
                url:url,
                type: 'POST',
                dataType: 'text',
                data: {data: '1'},
                success:function(data){
                    if(data){
                        $('#bgMusic')[0].play();
                    }
                }
            })
            setInterval(function(){getNewWithdrawals()},60*1000*5)
        }
         // getNewWithdrawals();
    })
    </script>
</body>

</html>
